/* 首页 */
.box{
	width: 1200px;
	height: 220px;
	margin: 20px 0 0 50px;
}
.box h2{
	padding: 0 10px 10px;
	border-bottom: 3px dotted #aaaaaa;
	color: #8f3b3d;
}
.today_sale h2::before{
	content: '\e82d';
	font-family: Linearicons-Free;
	margin-right: 10px;
}
.tod_tag{
	float: left;
	margin-top: 15px;
	margin-right: 70px;
	width: 300px;
	height: 120px;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #c3c3c3;
	transition: margin-top .3s;
}
.tod_tag:hover{
	margin-top: 10px;
}
.tod_tag h6{
	margin-top: 10px;
	margin-left: 20px;
	font-size: 20px;
	color: white;
}
.tod_tag i{
	display: inline-block;
	margin: 8px 20px 0 20px;
	font-size: 35px;
	font-family: STHupo;
}
.tod_tag span{
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	font-family: STHupo;
}
.customer{
	background:linear-gradient(to right bottom,rgba(255, 179, 71, 1),rgba(222, 222, 222, 0.8));
}
.customer i{
	color: #ffffff;
}
.sales{
	background:linear-gradient(to right bottom,rgba(203, 63, 65, 1),rgba(222, 222, 222, 0.8));
}
.sales i{
	
	color: #ffffff;
}
.saletop{
	background:linear-gradient(to right bottom,rgba(57, 135, 75, 1),rgba(222, 222, 222, 0.8));
}
.saletop i{
	color: #ffffff;
}
.fastmod h2::before{
	content: '\e8a7';
	font-family: Linearicons-Free;	margin-right: 10px;
}
.fastmod p{
	margin: 12px 0;
	font-size: 14px;
	color: #666;
}
.fastmod a{
	display: inline-block;
	margin-right: 30px;
	width: 140px;
	height: 50px;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 50px;
}
.mod_one{
	background-color: #008000;
}
.mod_one::after{
	content: '\e867';
	font-family: Linearicons-Free;
		font-size: 18px;
	font-weight: 600;
}
.mod_two{
	background-color: #1287a1;
}
.mod_two::after{
	content: '\e86f';
	font-family: Linearicons-Free;
	font-size: 16px;
	font-weight: 600;
}
.othermod h2::before{
	content: '\e88e';
	font-family: Linearicons-Free;
	margin-right: 10px;
}