/* 首页 */
.box{
	width: 1200px;
	height: 240px;
	margin: 20px 0 0 50px;
}
.box h2{
	padding: 0 10px 10px;
	border-bottom: 2px solid #aaaaaa;
	color: #ffffff;
}
.today_sale h2::before{
	content: '\e82d';
	font-family: Linearicons-Free;
	margin-right: 10px;
}
.tod_tag{
	float: left;
	margin-top: 15px;
	margin-right: 70px;
	width: 300px;
	height: 120px;
	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #717171;
	transition: margin-top .3s;
}
.tod_tag:hover{
	margin-top: 12px;
}
.tod_tag h6{
	margin-left: 20px;
	font-size: 20px;
	color: white;
}
.tod_tag i{
	display: inline-block;
	margin: 8px 20px 0 20px;
	font-size: 35px;
	font-family: STHupo;
}
.tod_tag span{
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	font-family: STHupo;
}
.customer{
	background-color: #f5a15b;
}
.customer i{
	color: #ff787a;
}
.sales{
	background-color: #bc9ccb;
}
.sales i{
	color: #a1ffcd;
}
.saletop{
	background-color: #f5aeaf;
}
.saletop i{
	color: #ff7b86;
}
.fastmod h2::before{
	content: '\e8a7';
	font-family: Linearicons-Free;	margin-right: 10px;
}